<div class="container">
  <h1 class="header center">2018 Stats</h1>
  <div class="divider"></div>
  <iframe src="http://127.0.0.1:3838/stats-2018.Rmd" width="100%"></iframe>
</div>
<script>
  var disqus_config = function () {
    this.page.url = 'http://gnascar.com';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = 'home';
  };

  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://gnascar-com.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
</script>
