<div class="container">
  <div class="row">
    <h5 class="col s6 center" >Round: <span id="round"></span></h5>
    <h5 class="col s6 center" >Postion: <span id="position"></span></h5>
  </div>
  <div class="row">
    <h5 class="col s6 center" >Current: <span id="current"></span></h5>
    <h5 class="col s6 center" >On-deck: <span id="ondeck"></span></h5>
  </div>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="black-text" href="#list">List</a></li>
        <li class="tab col s3"><a class="black-text" href="#results">Results</a></li>
      </ul>
    </div>
    <div id="list" class="col s12">
      <ul class="collection">
        {{#each drivers}}
          <li id="car-{{car_no}}" class="collection-item">#{{car_no}} - {{driver}}
            <a data-value="{{driver}}" class="draft-btn secondary-content waves-effect waves-light btn-floating black"><i class="material-icons">add</i></a>
          </li>
        {{/each}}
      </ul>
    </div>
    <div id="results" class="col s12">
      <table>
        <thead>
          <tr>
            <th>Round</th>
            <th>Hollywood Highlife</th>
            <th>Julian Gangsta</th>
            <th>SMiB</th>
            <th>Baby Got Track</th>
            <th>Redneck Ghoster</th>
            <th>Chasing Cletus</th>
            <th>Gator Dad</th>
            <th>Hot Johnson</th>
            <th>Everyone Loves Busch</th>
            <th>Upfront</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td id="cell-1"></td>
            <td id="cell-2"></td>
            <td id="cell-3"></td>
            <td id="cell-4"></td>
            <td id="cell-5"></td>
            <td id="cell-6"></td>
            <td id="cell-7"></td>
            <td id="cell-8"></td>
            <td id="cell-9"></td>
            <td id="cell-10"></td>
          </tr>
          <tr>
            <td>2</td>
            <td id="cell-11"></td>
            <td id="cell-12"></td>
            <td id="cell-13"></td>
            <td id="cell-14"></td>
            <td id="cell-15"></td>
            <td id="cell-16"></td>
            <td id="cell-17"></td>
            <td id="cell-18"></td>
            <td id="cell-19"></td>
            <td id="cell-20"></td>
          </tr>
          <tr>
            <td>3</td>
            <td id="cell-21"></td>
            <td id="cell-22"></td>
            <td id="cell-23"></td>
            <td id="cell-24"></td>
            <td id="cell-25"></td>
            <td id="cell-26"></td>
            <td id="cell-27"></td>
            <td id="cell-28"></td>
            <td id="cell-29"></td>
            <td id="cell-30"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <br />
</div>
<br /><br />
<script src="js/draftBoard.js"></script>