<div class="container">
  <br />
  <br />
  <table class="striped highlight responsive">
    <thead>
      <tr>
        <th>Car No.</th>
        <th>Driver</th>
        <th>Team</th>
        <th>Notable</th>
      </tr>
    </thead>

    <tbody>
      {{#each drivers}}
        <tr>
          <td>{{car_no}}</td>
          <td>{{driver}}</td>
          <td>{{team}}</td>
          <td>{{notable}}</td>
        </tr>
      {{/each}}
      {{!-- <tr>
        <td>1</td>
        <td>Jamie McMurray</td>
        <td>Chip Ganassi Racing</td>
        <td>Has made playoffs three straight seasons.</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Brad Keselowski</td>
        <td>Team Penske</td>
        <td>Reached Championship 4 for first time in ’17. AKA House Keys.</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Austin Dillon</td>
        <td>Richard Childress Racing</td>
        <td>Scored first win, made playoffs for second year in a row.</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Kevin Harvick</td>
        <td>Stewart-Haas Racing</td>
        <td>Reached Championship 4 for third time in four seasons. Personality like stale bread.</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Trevor Bayne</td>
        <td>Roush Fenway Racing</td>
        <td>Career-best in average finish, top 10s in ’17.</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Chase Elliott</td>
        <td>Hendrick Motorsports</td>
        <td>Strong end to sophomore season; first win is close. (unless Hamlin says otherwise)</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Aric Almirola</td>
        <td>Stewart-Haas Racing</td>
        <td>New team could yield big dividends for Florida native. But probably not.</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Denny Hamlin</td>
        <td>Joe Gibbs Racing</td>
        <td>Led most laps since ’12; won in every full-time season. AKA Hambone.</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Ryan Blaney</td>
        <td>Team Penske</td>
        <td>Driving third Penske car after breakthrough ’17 season. AKA Blarney.</td>
      </tr>
      <tr>
        <td>13</td>
        <td>Ty Dillon</td>
        <td>Germain Racing</td>
        <td>Has the luckiest number. Period. Not related to Austin, I think.</td>
      </tr>
      <tr>
        <td>14</td>
        <td>Clint Bowyer</td>
        <td>Stewart-Haas Racing</td>
        <td>Winless drought at 185 races. Nothing screams 'pick me!', like that.</td>
      </tr>
      <tr>
        <td>17</td>
        <td>Ricky Stenhouse Jr.</td>
        <td>Roush Fenway Racing</td>
        <td>The former Mr. Patrick, until Danica realized she could make more dating a quaterback.</td>
      </tr>
      <tr>
        <td>18</td>
        <td>Kyle Busch</td>
        <td>Joe Gibbs Racing</td>
        <td>Runner-up had career-best in poles, over 2,000 laps led. Entertaining jerk. AKA KY.</td>
      </tr>
      <tr>
        <td>19</td>
        <td>Daniel Suarez</td>
        <td>Joe Gibbs Racing</td>
        <td>Posted eight of 12 top 10s in second half of season. AKA Rico Suave.</td>
      </tr>
      <tr>
        <td>20</td>
        <td>Erik Jones</td>
        <td>Joe Gibbs Racing</td>
        <td>Sunoco Rookie winner steps into Matt Kenseth’s seat.</td>
      </tr>
      <tr>
        <td>21</td>
        <td>Paul Menard</td>
        <td>Wood Brothers Racing</td>
        <td>Veteran moves from one legendary race team to another.</td>
      </tr>
      <tr>
        <td>22</td>
        <td>Joey Logano</td>
        <td>Team Penske</td>
        <td>Missed postseason for first time with ‘The Captain.’ Which sounds like VD, to me.</td>
      </tr>
      <tr>
        <td>24</td>
        <td>William Byron</td>
        <td>Hendrick Motorsports</td>
        <td>Rookie’s quick climb continues, eyes Sunoco sweep.</td>
      </tr>
      <tr>
        <td>31</td>
        <td>Ryan Newman</td>
        <td>Richard Childress Racing</td>
        <td>Veteran snapped 127-race winless streak at Phoenix. So only another 100 or so to go, for another.</td>
      </tr>
      <tr>
        <td>32</td>
        <td>Matt DiBenedetto</td>
        <td>Go Fas Racing</td>
        <td>I think the team name may be ironic.</td>
      </tr>
      <tr>
        <td>34</td>
        <td>Michael McDowell</td>
        <td>Front Row Motorsports</td>
        <td>Career-best average finish in first full-time season.</td>
      </tr>
      <tr>
        <td>37</td>
        <td>Chris Buescher</td>
        <td>JTG Daugherty Racing</td>
        <td>Career-best in top 10s, average finish for new team.</td>
      </tr>
      <tr>
        <td>38</td>
        <td>David Ragan</td>
        <td>Front Row Motorsports</td>
        <td>Veteran driver just two starts from 400 in top series.</td>
      </tr>
      <tr>
        <td>41</td>
        <td>Kurt Busch</td>
        <td>Stewart-Haas Racing</td>
        <td>Daytona 500 winner has new crew chief in Billy Scott. AKA The Other Bush.</td>
      </tr>
      <tr>
        <td>42</td>
        <td>Kyle Larson</td>
        <td>Chip Ganassi Racing</td>
        <td>Four wins in ’17. Coin flip on top 10 or DNF each race.</td>
      </tr>
      <tr>
        <td>43</td>
        <td>Darrell Wallace Jr.</td>
        <td>Richard Petty Motorsports</td>
        <td>Rookie steps into ‘The King’s’ ride with Chevrolet.</td>
      </tr>
      <tr>
        <td>47</td>
        <td>AJ Allmendinger</td>
        <td>JTG Daugherty Racing</td>
        <td>Road course ace has made 145 consecutive starts. Angling for that participation trophy.</td>
      </tr>
      <tr>
        <td>48</td>
        <td>Jimmie Johnson</td>
        <td>Hendrick Motorsports</td>
        <td>‘Seven-Time’ at 83 wins, closing in on Waltrip, Allison. AKA JJ.</td>
      </tr>
      <tr>
        <td>78</td>
        <td>Martin Truex Jr.</td>
        <td>Furniture Row Racing</td>
        <td>Champ eyes repeat after eight-win, 2,253-laps-led season. AKA Terminex, Bug Killer, and BK.</td>
      </tr>
      <tr>
        <td>88</td>
        <td>Alex Bowman</td>
        <td>Hendrick Motorsports</td>
        <td>Young driver fills Dale Jr.’s seat after fill-in success in ’16.</td>
      </tr>
      <tr>
        <td>95</td>
        <td>Kasey Kahne</td>
        <td>Leavine Family Racing</td>
        <td>Got back to Victory Lane in ’17; takes over for McDowell.</td>
      </tr> --}}
    </tbody>
  </table>
  <br />
  <br />
</div>