<div class="container">
  <br />
  <br />
  <table class="striped highlight responsive">
    <thead>
      <tr>
        <th>Car No.</th>
        <th>Driver</th>
        <th>Team</th>
        <th>Notable</th>
      </tr>
    </thead>

    <tbody>
      {{#each drivers}}
        <tr>
          <td>{{car_no}}</td>
          <td>{{driver}}</td>
          <td>{{team}}</td>
          <td>{{notable}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <br />
  <br />
</div>
<div id="disqus_thread" class="container"></div>
<br /><br />
<script>
  var disqus_config = function () {
    this.page.url = 'http://gnascar.com';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = 'draftlist'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };

  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://gnascar-com.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
</script>