<div class="container">
  <h1 class="header center">The Adventures of Cletus</h1>
  <div id="photos">
    {{#each cletusPics}}
      <img class="card" src="cletus-pics/{{this}}" alt="{{this}}">
    {{/each}}
  </div>
</div>
<script>
  var disqus_config = function () {
    this.page.url = 'http://gnascar.com';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = 'home';
  };

  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://gnascar-com.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
</script>