<head>
<style>
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}

.responsive-iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  right: 0;
}
</style>
</head>

<h4 class="header center">GNASCAR Roster</h4>
<div class="iframe-container">
      <iframe class="responsive-iframe" loading="lazy" src="http://localhost:8000/account/insecurelogin?username=viewonly&password=viewonly&return_to=/app/GNASCAR/rosters" seamless frameborder="yes" scrolling="yes">
      </iframe>
</div>
