<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center">He's still Pocono Busch...</h1>
      <div class="row center">
        <div class="card">
          <div class="card-image">
            <img src="images/busch-pocono.jpg">
          </div>
          <div class="card-content"
            <h5 class="header col s12 light">Yet another of the big 3 wins. And the season was almost getting good.</h5>
          </div>  
        </div>
      </div>
      <br>
    </div>
</div>
<div id="disqus_thread" class="container"></div>
<br /><br />
<script>
  var disqus_config = function () {
    this.page.url = 'http://gnascar.com';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = 'home'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };

  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://gnascar-com.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
</script>