<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center">Congrats to Lazy Dog Racing!</h1>
      <div class="row center">
        <div class="card">
          <div class="card-image">
            <img src="images/cletus1.jpeg">
          </div>
          <div class="card-content"
            <h5 class="header col s12 light">After a dominating season, Truex brings home Cletus for team Lazy Dog.</h5>
          </div>  
        </div>
      </div>
      <br><br>

    </div>
</div>