<head>
<style>
#roster2017 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#roster2017 td, #roster2017 th {
    border: 1px solid #ddd;
    padding: 8px;
}

#roster2017 tr:nth-child(even){background-color: #f2f2f2;}

#roster2017 tr:hover {background-color: #ddd;}

#roster2017 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
}
</style>
</head>
<div class="container">
<h1><strong>2017 Roster</strong></h1>
<table id="roster2017">
 <tr>
    <th>Owner</th>
    <th>Driver</th>
  </tr>
  <tbody>
<tr>
<td>Chug</td>
<td>Erik Jones</td>
</tr>
<tr>
<td>Chug</td>
<td>Clint Bowyer</td>
</tr>
<tr>
<td>Chug</td>
<td>Reed Sorenson</td>
</tr>
<tr>
<td>Chug</td>
<td>Derrike Cope</td>
</tr>
<tr>
<td>GatorDad</td>
<td>Kyle Larson</td>
</tr>
<tr>
<td>GatorDad</td>
<td>Denny Hamlin</td>
</tr>
<tr>
<td>GatorDad</td>
<td>Brad Keselowski</td>
</tr>
<tr>
<td>GatorDad</td>
<td>Danica Patrick</td>
</tr>
<tr>
<td>GatorDad</td>
<td>Landon Cassill</td>
</tr>
<tr>
<td>GatorMom</td>
<td>Kyle Busch</td>
</tr>
<tr>
<td>GatorMom</td>
<td>Kasey Kahne</td>
</tr>
<tr>
<td>GatorMom</td>
<td>Michael McDowell</td>
</tr>
<tr>
<td>GatorMom</td>
<td>A.J. Allmendinger</td>
</tr>
<tr>
<td>GatorMom</td>
<td>B.J. McLeod</td>
</tr>
<tr>
<td>JulianGangsta</td>
<td>Jamie McMurray</td>
</tr>
<tr>
<td>JulianGangsta</td>
<td>David Ragan</td>
</tr>
<tr>
<td>JulianGangsta</td>
<td>Corey Lajoie</td>
</tr>
<tr>
<td>JulianGangsta</td>
<td>Matt DiBenedetto</td>
</tr>
<tr>
<td>JulianGangsta</td>
<td>Chris Buescher</td>
</tr>
<tr>
<td>LazyDogDad</td>
<td>Martin Truex, Jr.</td>
</tr>
<tr>
<td>LazyDogDad</td>
<td>Ryan Blaney</td>
</tr>
<tr>
<td>LazyDogDad</td>
<td>Ricky Stenhouse, Jr.</td>
</tr>
<tr>
<td>LazyDogDad</td>
<td>Dale Earnhardt, Jr.</td>
</tr>
<tr>
<td>LazyDogDad</td>
<td>Paul Menard</td>
</tr>
<tr>
<td>LazyDogMom</td>
<td>Daniel Suarez</td>
</tr>
<tr>
<td>LazyDogMom</td>
<td>Chase Elliott</td>
</tr>
<tr>
<td>LazyDogMom</td>
<td>Aric Almirola</td>
</tr>
<tr>
<td>LazyDogMom</td>
<td>Trevor Bayne</td>
</tr>
<tr>
<td>LazyDogMom</td>
<td>Gray Gaulding</td>
</tr>
<tr>
<td>RidgeRacing</td>
<td>Joey Lagano</td>
</tr>
<tr>
<td>RidgeRacing</td>
<td>Ryan Newman</td>
</tr>
<tr>
<td>RidgeRacing</td>
<td>Kurt Busch</td>
</tr>
<tr>
<td>RidgeRacing</td>
<td>Jeffrey Earnhardt</td>
</tr>
<tr>
<td>RidgeRacing</td>
<td>Matt Kenseth</td>
</tr>
<tr>
<td>SlobberRacing</td>
<td>Jimmie Johnson</td>
</tr>
<tr>
<td>SlobberRacing</td>
<td>Kevin Harvick</td>
</tr>
<tr>
<td>SlobberRacing</td>
<td>Austin Dillon</td>
</tr>
<tr>
<td>SlobberRacing</td>
<td>Ty Dillon</td>
</tr>
<tr>
<td>SlobberRacing</td>
<td>Cole Whitt</td>
</tr>
</tbody>
</table>
<ul>
<li><strong>Chug and Ridge Racing will not be active in 2018</strong></li>
</ul>
</div>
<div id="disqus_thread" class="container"></div>
<br /><br />
<script>
  var disqus_config = function () {
    this.page.url = 'http://gnascar.com/roster-2017';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = 'roster-2017;
  };

  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://gnascar-com.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
</script>