<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center">Under Construction!</h1>
      <div class="row center">
        <h5 class="header col s12 light">Check back soon. The Commish is still working on the first draft.</h5>
      </div>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
    </div>
</div>