<div class="container">
  <h1 class="header center">Draft</h1>
  <div class="divider"></div>
  <div class="section">
    <div class="row center">
      <h5 class="header col s12 light">Summary</h5>
    </div>
    <div>$50 buy-in per team.</div><br />
    <div>Prior to the draft, all returning teams will declare if they elect to retain a driver from the previous season and publically declare the driver's name<br />Returning teams can elect to discard their "keeper" pick and enter the roll-off for draft positioning.</div><br />
    <div>Draft position determined by Driver standings in 2017.</div><br />
    <div>Draft will be round-robin for three rounds.</div><br />
    <p>10.) lazydogdad<br />9.) gatormom<br />8.) slobber<br />7.) gatordad<br />6.) lazydogmom<br />5.) julian<br />4.) TBD<br />3.) TBD<br />2.) TBD<br />1.) TBD</p>
    <p>New teams will roll d10 for draft position (low/high)</p>
    <p>Angela<br />Scott<br />Josh<br />Dennis</p>
    <p>1, 2, 3, 4, 5, 6, 7, 8, 9, 10<br />1, 2, 3, 4, 5, 6, 7, 8, 9, 10<br />1, 2, 3, 4, 5/keeper, 6/keeper, 7/keeper, 8/keeper, 9/keeper, 10/keeper</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <div class="row center">
      <h5 class="header col s12 light">Awards</h5>
    </div>
    <p>Driver<br />Winning driver of 2018 Monster Energy NASCAR Cup Series</p>
    <p>Team<br />Team with highest cumulative driver points as determined by 2018 Monster Energy NASCAR Cup Series</p>
    <p>Hoopty<br />Team with highest cumulative DNF finishes as determined by 2018 Monster Energy NASCAR Cup Series driver statistics</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <div class="row center">
      <h5 class="header col s12 light">Payouts</h5>
    </div>
    <p>Ten teams in 2018 @ $50/ea</p>
    <p>1st place Driver (40%): $200<br />2nd place Driver (20%): $100<br />3rd place Driver (10%): $50<br />4th place Driver (10%): $50<br />1st place Team (20%): $100</p>
  </div>
</div>

<script>
  var disqus_config = function () {
    this.page.url = 'http://gnascar.com';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = 'home';
  };

  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://gnascar-com.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
</script>