<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center">Under Construction!</h1>
      <div class="row center">
        <h5 class="header col s12 light">Check back soon. The Commish is still working on the first draft.</h5>
      </div>
      <br><br>
      </div>
      <div>
        <p><strong>Draft</strong></p>
        <p>$50 buy-in per team</p>
        <p>Prior to the draft, all returning teams will declare if they elect to retain a driver from the previous season and publically declare the driver's name<br />Returning teams can elect to discard their "keeper" pick and enter the roll-off for draft positioning</p>
        <p>Draft position determined by Driver standings in 2017</p>
        <p>Draft will be round-robin for three rounds</p>
        <p>10.) lazydogdad<br />9.) gatormom<br />8.) slobber<br />7.) gatordad<br />6.) lazydogmom<br />5.) julian<br />4.) TBD<br />3.) TBD<br />2.) TBD<br />1.) TBD</p>
        <p>New teams will roll d10 for draft position (low/high)</p>
        <p>Angela<br />Scott<br />Josh<br />Dennis</p>
        <p>1, 2, 3, 4, 5, 6, 7, 8, 9, 10<br />1, 2, 3, 4, 5, 6, 7, 8, 9, 10<br />1, 2, 3, 4, 5/keeper, 6/keeper, 7/keeper, 8/keeper, 9/keeper, 10/keeper</p>
        <p><strong>2018 Awards</strong></p>
        <p>Driver<br />Winning driver of 2018 Monster Energy NASCAR Cup Series</p>
        <p>Team<br />Team with highest cumulative driver points as determined by 2018 Monster Energy NASCAR Cup Series</p>
        <p>Hoopty<br />Team with highest cumulative DNF finishes as determined by 2018 Monster Energy NASCAR Cup Series driver statistics</p>
        <p><strong>Payouts</strong></p>
        <p>Ten teams in 2018 @50$</p>
        <p>1st place Driver (40%): 200$<br />2nd place Driver (20%): 100$<br />3rd place Driver (10%): 50$<br />4th place Driver (10%): 50$<br />1st place Team (20%): 100$</p>

      </div>
</div>